@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');


body {

    height: 100vh;
    width: 100vh;
    background-color: rgb(244, 245, 247);
    background-image: url(static 'imgs/logoBranca.png' );
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;

}

.containerBox{
    display: flex;
}

/*FORM LOGIN*/

.logoBranca {

    position: absolute;
    width: 30%;
    height: 15%;
    left: 34%;
    top: 7%;
}



.legendaQuatenus {

    position: absolute;
    left: 42%;
    top: 18%;
    font-family: 'Inter';
    font-size: 1.5rem;
    color: #FFF;
    font-style: oblique;
    display: flex;
    white-space: nowrap;


}

input::placeholder {
    color: #F36E21;
    font-size: 1.2em;

}

input.custom {
    caret-color: #F36E21;
    font: 16px 'Inter', "Arial", "sans-serif";
}

input:focus {
    color: #F36E21;
    font-family: 'Inter';
    font-size: 20px;
}

input {
    font-family: 'Inter';
    color: #F36E21;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

a:link {
	text-decoration: none;

}

a {
	color: inherit;
}

a:link {
	color: #fff;
 }

.linkQuatenus  :visited{
	color: #fff;
}
.checkOut{

    font-family: 'Inter';
    position: absolute;
    left: 35.8%;
    top: 63%;
    color: #FFF;

}
/*FORM LOGIN*/
/*------------------------------------------------------*/
/*VERSIONAMENTO COMEÇO*/
.UILabelProductVersion {

    position: absolute;
    left: 40%;
    top: 77%;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.UILabelProductCopyright {

    position: absolute;
    left: 37%;
    top: 79%;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

/*VERSIONAMENTO FIM*/
/*------------------------------------------------------*/



@media screen and (min-height: 649px) and (max-width: 1440px){

    .logoBranca{
        left: 37.3%;
        width: 334px;
        height: 90px;
        top: 10%;
    }

    .legendaQuatenus{

        font-size: 18px;
        top: 125px;
        left: 42%;
    }

    .UILabelProductVersion{

        font-size: 10px;

    }

    .UILabelProductCopyright{

        font-size: 10px;

    }

}

.cadastroUser {

    box-sizing: border-box;
    position: absolute;
    width: 28.5%;
    height: 6%;
    left: 36%;
    top: 34%;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(243, 110, 33, 0.5);

}

.cadastroNome {

    box-sizing: border-box;
    position: absolute;
    width: 28.5%;
    height: 6%;
    left: 36%;
    top: 26%;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(243, 110, 33, 0.5);

}

.senhaUser {

    box-sizing: border-box;
    position: absolute;
    width: 28.5%;
    height: 6%;
    left: 36%;
    top: 42%;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(243, 110, 33, 0.5);
}

.confirSenha {

    box-sizing: border-box;
    position: absolute;
    width: 28.5%;
    height: 6%;
    left: 36%;
    top: 50%;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(243, 110, 33, 0.5);
}

.cadastroEmail {

    box-sizing: border-box;
    position: absolute;
    width: 28.5%;
    height: 6%;
    left: 36%;
    top: 58%;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(243, 110, 33, 0.5);

}

.botaoEntrar {

    position: absolute;
    width: 28.5%;
    height: 6%;
    left: 36%;
    top: 69%;
    color: #FFF;
    background: rgba(243, 110, 33, 0.9);
    border: 1px solid #F36E21;
    border-radius: 5px;
    font-style: italic;
    font-size: 22px;
    cursor: pointer;


}

